<header class="forms">
  <div class="forms-header">
    <% if session[:bad_user] == true %>
      <p class="errors"> The email or password you’ve entered doesn’t match any account. </p>
      <a href="/users/new" class="posts-user-info">Don't have one yet? <strong>Sign Up</strong></a>
    <% end %>
    <p>Heya Hag!</p>
    <p>Log in below to post your offerings and like other Hags' offerings.</p>
    <h1 class="brand-heading">Log In</h1>
  </div>



  <div class="container-forms">
    <form action="/login" method="POST">
      <div class="form-group">
        <label class="col-sm-3 control-label">Email: </label>
        <input name="email" type="text" value="<%= @user && @user.email %>" />
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Password: </label>
        <input name="password" type="password" value="<%= @user && @user.password %>" />
      </div>
      <div class="form-group">
        <input type="submit" value="Log in" />
      </div>
    </form>
    <a href="/users/new">New to the site? Sign up <strong>here</strong></a>
  </div>
</header>
