<h1>Login</h1>

<form action="/login" method="POST">
  email : <input name="email" type="text" /> <br/>
  password : <input name="password" type="password" /> <br/>
  <input type="submit" value="Log In" />
</form>

<a href="/users/new">New User? Sign Up Here</a>