<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <h4 class="copyright">Copyright &copy; 2016 - All Rights Reserved. Designed and Developed By <a href="#">Haggler co.</a></h4>
                    <h2 class="copyright">
                      <a href="#" class="btn btn-circle-social"><i class="fa fa-facebook-square animated"></i></a>
                      <a href="#" class="btn btn-circle-social"><i class="fa fa-twitter-square animated"></i></a>
                      <a href="#" class="btn btn-circle-social"><i class="fa fa-instagram animated"></i></a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</footer>