<section class="container-fluid" id="section1">

  <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="block">
              <h1>Haggle Near You</h1><br>
              <a href="/posts/map"><i class="fa fa-map-marker fa-4x"></i></a>
          </div>
      </div>
  </div>

</section>
