body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #2d2d2d;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 25px 0 10px;
    font-family: 'Happy Fox',"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
}

.posts-heading {
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #3e596e;
    margin: 0 0 2px;
}

.posts-user-info {
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0px 0 5px;
    text-transform: none;
}

.errors {
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    color: #3e596e;
    margin: 0 0 2px;
}

.posts-category {
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0px 0 5px;
    color: #ff6948;
}


p {
    margin: 0px 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0px 0 25px;
        font-size: 20px;
        line-height: 1.2;
    }
}

a {
    color: #ff6666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
}

.posts-title {
    color: #2d2d2d;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.posts-title:hover,
.posts-title:focus {
    color: #00b0bc;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: black;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    min-height: 70px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;

}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: black;
    background-color: transparent;
    font-weight: 700;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 5px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: #63D394;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #2d2d2d;
    background: url(../img/intro-bg.jpg) no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 150px;
        color: #63D394;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle-small {
    width: 45px;
    height: 45px;
    padding: 3px 8px;
    margin-right: 3px;
    border: 2px solid #2d2d2d;
    border-radius: 100%!important;
    font-size: 26px;
    color: #000;
    background: rgba(45,45,45,.5);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle {
    width: 75px;
    height: 75px;
    margin-top: 100px;
    padding: 7px 16px;
    border: 3px solid #2d2d2d;
    border-radius: 100%!important;
    font-size: 40px;
    color: #2d2d2d;
    background: rgba(45,45,45,.5);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle-post {
    width: 75px;
    height: 75px;
    margin-top: 100px;
    padding: 7px 16px;
    border: 3px solid #2d2d2d;
    border-radius: 100%!important;
    font-size: 25px;
    color: #2d2d2d;
    background: rgba(45,45,45,.5);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}


.btn-circle:hover,
.btn-circle:focus,
.btn-circle-post:hover,
.btn-circle-post:focus,
.btn-circle-small:hover,
.btn-circle-small:focus {
    outline: 0;
    color: #2d2d2d;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated,
.btn-circle-post i.animated,
.btn-circl-small i.animated, {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated,
.btn-circle-post:hover i.animated,
.btn-circle-small:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #2d2d2d;
    color: #2d2d2d;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

input {
    display: inline-block;
    border: 1px solid #2d2d2d;
    border-radius: 0;
    color: #2d2d2d;
    text-transform: none;
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding: 6px 12px;
    margin-left: 15px;
    vertical-align: middle;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

input:hover {
    border: 1px solid #2d2d2d;
    outline: 0;
    color: #2d2d2d;
    background-color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-control {
    margin: 5px;
    max-width: 50%;
}

a.button {
  padding: 6px;
  background-color: transparent;
}

.modal-body {
    background-color: #2e2e2e
}

.modal-content {
    background-color: #2e2e2e
}


@font-face {
  font-family: 'Happy Fox';

  src: url('../fonts/HappyFox-Condensed.otf');
}

#home-row-2 .col-12 .home-hover {
    height: 210px;
    margin-top: -100px;
    overflow: hidden;
    padding-top: 26px;
    transition: all ease-in .5s;
}

.container-hero-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-right: 6%;
    margin-left: 6%;
    background: rgba(45,45,45,.1);
}

.container-posts {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin-right: 6%;
    margin-left: 6%
}

.posts-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-right: 6%;
    margin-left: 6%;
}

.posts {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: left;
    color: #2d2d2d;
    background: url(../img/intro-bg2.jpg) no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.posts .posts-row {
    padding: 15px;
    margin-bottom: 1%;
    background: rgba(45,45,45,.1);
    border-style: none;
}

.posts .posts-row:hover,
.posts .posts-row:focus {
    background: rgba(45,45,45,.15);
}

.posts .posts-body .brand-heading {
    font-size: 40px;
    padding: 50px 0;
}

.posts .posts-body .intro-text {
    font-size: 18px;
}

.forms {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: left;
    color: #2d2d2d;
    background: url(../img/intro-bg2.jpg) no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.forms .forms-body {
    display: table-cell;
    vertical-align: middle;
}

.forms .forms-body .brand-heading {
    font-size: 40px;
}

.forms .forms-body .intro-text {
    font-size: 18px;
}

.container-forms {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin-right: 30%;
    margin-left: 30%;
    background: rgba(45,45,45,.1);
}

.forms-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-right: 30%;
    margin-left: 30%;
}

.intro-buttons {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.new-posts {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: left;
    color: #2d2d2d;
    background: url(../img/intro-bg2.jpg) no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.new-posts .new-posts-body {
    display: table-cell;
    vertical-align: middle;
}

.new-posts .new-posts-body .brand-heading {
    font-size: 40px;
}

.new-posts .new-posts-body .intro-text {
    font-size: 18px;
}

.container-new-posts {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin-right: 15%;
    margin-left: 15%;
    background: rgba(45,45,45,.1);
}

.new-posts-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.btn-primary {
  color: #fff;
  background-color: #63D394;
  border-color: #63D394;
}
