<header class="forms">
    <div class="forms-header">
      <% if @user && @user.errors.any? %>
        <div>
          <p class="errors">
              <% @user.errors.full_messages.each do |message| %>
                <%= message %>
          </p>
          <a href="/users" class="posts-user-info">Already a member? <strong>Log in</strong></a>
          <% end %>
        </div>
      <% end %>
      <h1 class="brand-heading">Sign up</h1>
    </div>
    <div class="container-forms">
      <form action="/users" method="POST">
        <div class="form-group">
          <label class="col-sm-3 control-label">Email: </label>
          <input name="email" type="text" />
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Password: </label>
          <input name="password" type="password" />
        </div>
        <div class="form-group">
        <input type="submit" value="Sign Up" />
        </div>
      </form>
      <a href="/login">Already a User? Log in <strong>Here</strong></a>
    </div>
  </div>
</header>