<header class="forms">
  <div class="forms-header">
    <% if @user && @user.errors.any? %>
      <div>
        <p class="errors">
          <% @user.errors.full_messages.each do |message| %>
            <%= message %><br>
          <% end %>
        </p>
        <a href="/users" class="posts-user-info">Already a Hag? <strong>Log in</strong></a>
        <br><br>
      </div>
    <% end %>

    <h1 class="brand-heading">Sign up</h1>
  </div>
  <div class="container-forms">

  <p>Join the HAGGLER community by becoming a Hag. Being a Hag entitles you to post your goods and skills for others to see and bid on.</p>
    <form action="/users" method="POST">

      <div class="form-group">
        <label class="col-sm-3 control-label">Email: </label>
        <input name="email" type="text" value="<%= @user && @user.email %>"/>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Username: </label>
        <input name="username" type="text" value="<%= @user && @user.username %>"/>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Password: </label>
        <input name="password" type="password" value="<%= @user && @user.password %>" />
      </div>

      <div class="form-group">
      <input type="submit" value="Sign Up" />
      </div>

    </form>

    <a href="/login">Already a Hag? Log in <strong>here</strong></a>
  </div>
</header>
