<div id="map"></div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 43.64465, lng: -79.39503},
      zoom: 12
    });

  var post = <%= @post.to_json %>

  var torontoCoords = [
  {
  "latitude": 43.64465,
  "longitude": -79.39503,
  "title": "Lighthouse Labs - new digs"
  },
  {
  "latitude": 43.64715,
  "longitude": -79.40332,
  "title": "Lighthouse Labs - old digs"
  }];

  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP
    //  marker:true
  };

  var infoWindow = new google.maps.InfoWindow();

  var post,torontoCoords
  // want to iterate through both post and torontoCoords and plot all markers on map.
  // for loop below only iterates and plots var post
  for (i = 0; i < post.length; i++) {
    var data = post[i]
    var myLatlng = new google.maps.LatLng(data.latitude, data.longitude);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: data.title
    });


    (function(marker, data) {

  // Attaching a click event to the current marker
  google.maps.event.addListener(marker, "click", function(e) {
    infoWindow.setContent(data.title);
    infoWindow.open(map, marker);
  });
  })(marker, data);
  }


  }


</script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu0KSRgrBizub3FSRecbFnCvPzG4HVfcQ&callback=initMap"
  async defer></script>


</header>