<header class="new-posts">
  <div class="new-posts-header">
    <h1 class="brand-heading">New Post Form</h1>
  </div>

  <div class="container-new-posts">
    <p>What are you offering for trade?</p>
    <p>Remember, you can offer anything from furniture to houseplants to services and skills you can provide! Happy haggling!</p>

    <form method="POST" action="/posts" role="form">
      <div class="form-group">
        <label class="col-xs-3 control-label">Type of offer</label>
        <select name="category">
          <option name="goods" value="goods">Goods</option>
          <option name="services" value="skills">Skills</option>
        </select>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Title: </label>
        <input class="new-post-form" type="text" name="title" placeholder="Tagline for your offer">
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Description: </label>
        <input class="new-post-form" id="new-post-form-desc" type="text" name="description" placeholder="Details of your offer">
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Add an image! </label>
        <input class="new-post-form" type="text" name="image_url" placeholder="URL to the image">
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label"></label>
        <input type="submit" name"submit" value="Haggle it!">
      </div>
    </form>
  </div>
</header>
