<header class="new-posts">
    <div class="new-posts-header">
      <h1 class="brand-heading">New Post Form</h1>
    </div>
    <div class="container-new-posts">
      <p>What are you offering for trade?</p>
      <p>Remember, you can offer anything from furniture to houseplants to services you can provide! Happy haggling!</p>
      <form method="POST" action="/posts" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label">Type of offer</label>
          <select name="category">
            <option value="goods">Goods</option>
            <option value="services">Services</option>
          </select>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Title: </label>
          <input type="text" name="title" placeholder="Tagline for your offer">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Description: </label>
          <input type="text" name="description" placeholder="Details of your offer">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Add an image!: </label>
          <input type="text" name="image_url" placeholder="URL to the image">
        </div>
        <div class="form-group">
        <input type="submit" name"get tradin'!">
        </div>
      </form>
  </div>
</div>
</header>