<header class="intro">
<div class="intro-body">

  <div class="container-hero-box">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading"><a href="/posts" class="brand-heading" id="haggler-splash" >HAGGLER</a></h1>
        <p class="intro-text">what you got?</p>

        <p>Trade your stuff and skills. No money accepted.</p>
        <div id="home-row-2">

        <div class="intro-buttons">

        <% if current_user == nil %>
          <div class="col-12 col-sm-4"><div class="home-hover">
            <a href="/login" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
            </a>
            </div><span>LOG IN</span>
          </div>

        <% else %>
          <div class="col-12 col-sm-4"><div class="home-hover">
            <a href="#" class="hidden">
            </a>
            </div>
          </div>

        <% end %>

        <div class="col-12 col-sm-4"><div class="home-hover">
          <a href="/posts" class="btn btn-circle-post page-scroll">
          <i class="fa fa-list fa-lg animated"></i>
          </a>
          </div><span>VIEW TRADES</span>
        </div>

        <% if current_user == nil %>
          <div class="col-12 col-sm-4"><div class="home-hover">
            <a href="/users/new" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-up animated"></i>
            </a>
            </div><span>SIGN UP</span>
          </div>
        <% end %>

        </div>
        </div>
      </div>
    </div>
  </div>

</div>

</header>
