<header class="intro">
  <div class="intro-body">
      <div class="container-hero-box">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading"><a href="/posts">HAGGLER</a></h1>
                  <p class="intro-text">what you got?</p>
                  <div id="home-row-2">
                    <div class="intro-buttons">
                  <div class="col-12 col-sm-4"><div class="home-hover">
                    <a href="/login" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    </div><span>LOG IN</span>
                  </div>
                  <div class="col-12 col-sm-4"><div class="home-hover">
                    <a href="/posts" class="btn btn-circle-post page-scroll">
                    <i class="fa fa-list fa-lg animated"></i>
                    </a>
                    </div><span>VIEW POSTS</span>
                  </div>
                  <div class="col-12 col-sm-4"><div class="home-hover">
                    <a href="/users/new" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-up animated"></i>
                    </a>
                    </div><span>SIGN UP</span>
                  </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
