<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">

    <title>Haggler</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/haggler.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
          </button>
          <!-- <a class="navbar-brand page-scroll" href="/"> -->
            <% if current_user %><h2 class="user-greeting">Hi, <%= current_user.username %>!<% end %></h2>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
              <a href="#page-top"></a>
          </li>
          <li>
              <a href="/posts">Haggler Home</a>
          </li>
          <li>
              <a href="/posts/new">What you got?</a>
          </li>
          <li>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown_filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Search <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown_filter">
              <li class="dropdown-header">Categories</li>
              <li><a href="/posts/category/goods#all">Goods</li></a>
              <li><a href="/posts/category/skills#all">Skills</li></a>
              <li class="divider"></li>
              <li><a href="/posts/traded#all">Traded</li></a>
              <li><a href="/posts/available#all">Available</li></a>
              <li class="divider"></li>
              <li><a href="/posts#all">View All</li></a>
            </ul>

          </li>
          <li>
            <% if current_user %>
              <a href="/logout"><strong>Logout</strong></a>
            <% else %>
              <a href="/login"><strong>Log in</strong></a>
            <% end %>
          </li>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    </div>
      <!-- /.container -->
  </nav>

  <%= yield %>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/musicwall.js"></script>

  </body>
</html>